body {
  width: 100%;
  margin: 0px;
  padding: 10px;
  background-color: #d4f1f4;
  box-sizing: border-box;
}

form {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 4px;
}

button {
  background: #189ab4;
  color: white;
  border: 1px solid #189ab4;
  text-align: center;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: #05445e;
}

#setting-img img {
  float: right;
  margin: 10px;
  height: 18px;
  width: 18px;
  cursor: pointer;
  transition: transform 0.7s ease-in-out;
}

#setting-img img:hover {
  transform: rotate(90deg);
}
