body {
  margin: 0;
  padding-top: 10px;
  font-size: 18px;
  background-color: #d4f1f4;
  text-align: center;
}

#apiform {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#keypresent {
  text-align: center;
  color: red;
}
